@import "../../common/mixins.scss";
@import "../../common/var.scss";

@include b(page) {
	height: 100vh;
	width: 100vh;
	font-size: $font-size-descriptive;
	background: url('/static/image/bg.png') repeat-y;
	background-size: 47%;
}